
<!-- Questions Page -->
<div class="homeContent pageQuizQuestion">
  <h1 class="centerAlign">Quizzabled: Mock Test</h1>

  <!-- Quiz Question -->
  <div class="quizWrap questionBox">
    <div class="quizQus">
      <div class="textbox">
        <div><span>Question <span>1</span>: &nbsp;</span>Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Debitis, harum.</div>
        <div class="secLang">
          <span>Question <span>1</span>: &nbsp;</span>Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Debitis, harum.
        </div>        
      </div>
    </div>
    <div class="quizAnsWrap">
      <div class="quizAns">
        <input type="radio" name="quizAnswer" id="answer1" />
        <label for="answer1">
          <div class="textbox">
            <div>Answer 1</div>
            <div class="secLang">Answer 1</div>
          </div>            
        </label>
      </div>
      <div class="quizAns">
        <input type="radio" name="quizAnswer" id="answer2" />
        <label for="answer2">
          <div class="textbox">
            <div>Answer 2</div>
            <div class="secLang">Answer 2</div>
          </div>  
        </label>
      </div>
      <div class="quizAns">
        <input type="radio" name="quizAnswer" id="answer3" />
        <label for="answer3">
          <div class="textbox">
            <div>Answer 3</div>
            <div class="secLang">Answer 3</div>
          </div>  
        </label>
      </div>
      <div class="quizAns">
        <input type="radio" name="quizAnswer" id="answer4" />
        <label for="answer4">
          <div class="textbox">
            <div>Answer 4</div>
            <div class="secLang">Answer 4</div>
          </div>  
        </label>
      </div>
    </div>
  </div>


  <div class="quizWrap questionBox">
    <div class="quizQus">
      <div class="textbox">
        <div><span>Question <span>1</span>: &nbsp;</span>Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Debitis, harum.</div>
        <div class="secLang">
          <span>Question <span>1</span>: &nbsp;</span>Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Debitis, harum.
        </div>        
      </div>
    </div>
    <div class="quizAnsWrap">
      <div class="quizAns">
        <input type="radio" name="quizAnswerImg" id="answer11" />
        <label for="answer11">
          <div class="textbox">
            <div>Answer 1</div>
            <div class="secLang">Answer 1</div>
            <img src="../../assets/images/catalyst.jpg" alt="">
          </div>            
        </label>
        <div class="zoom">Click here to Zoom the Image</div>
      </div>
      <div class="quizAns">
        <input type="radio" name="quizAnswerImg" id="answer12" />
        <label for="answer12">
          <div class="textbox">
            <div>Answer 2</div>
            <div class="secLang">Answer 2</div>
            <img src="../../assets/images/fouredge.jpg" alt="">
          </div>  
        </label>
      </div>
      <div class="quizAns">
        <input type="radio" name="quizAnswerImg" id="answer13" />
        <label for="answer13">
          <div class="textbox">
            <div>Answer 3</div>
            <div class="secLang">Answer 3</div>
          </div>  
        </label>
      </div>
      <div class="quizAns">
        <input type="radio" name="quizAnswerImg" id="answer14" />
        <label for="answer14">
          <div class="textbox">
            <div>Answer 4</div>
            <div class="secLang">Answer 4</div>
          </div>  
        </label>
      </div>
    </div>
  </div>

  <div class="quizWrap questionBox">
    <div class="quizQus">
      <div class="textbox">
        <div><span>Question <span>1</span>: &nbsp;</span>Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Debitis, harum.</div>
        <div class="secLang">
          <span>Question <span>1</span>: &nbsp;</span>Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Debitis, harum.
        </div>        
      </div>
    </div>
    <div class="quizAnsWrap">
      <div class="quizAns">
        <input type="radio" name="quizImg" id="answer21" />
        <label for="answer21">
          <div class="textbox">
            <img src="../../assets/images/catalyst.jpg" alt="">
          </div>            
        </label>
        <div class="zoom">Click here to Zoom the Image</div>
      </div>
      <div class="quizAns">
        <input type="radio" name="quizImg" id="answer22" />
        <label for="answer22">
          <div class="textbox">
            <img src="../../assets/images/fouredge.jpg" alt="">
          </div>  
        </label>
        <div class="zoom">Click here to Zoom the Image</div>
      </div>
      <div class="quizAns">
        <input type="radio" name="quizImg" id="answer23" />
        <label for="answer23">
          <div class="textbox">
            <img src="../../assets/images/fouredge.jpg" alt="">
          </div>  
        </label>
        <div class="zoom">Click here to Zoom the Image</div>
      </div>
      <div class="quizAns">
        <input type="radio" name="quizImg" id="answer24" />
        <label for="answer24">
          <div class="textbox">
            <img src="../../assets/images/catalyst.jpg" alt="">
          </div>  
        </label>
        <div class="zoom">Click here to Zoom the Image</div>
      </div>
    </div>
  </div>


<!-- make this show(display: flex) hide(display: none)  -->
  <div class="zoomedImg" style="display: none;">
    <button class="btnQuizPri"><span>&times;</span> Close</button>
    <img src="../../assets/images/fouredge.jpg" alt="">
  </div>

  <!-- Next Previous -->
  <div class="navBtnWrap">
    <button class="btnQuizPri prevBtn">Previous</button>
    <button class="btnQuizPri nextBtn">Next</button>
  </div>

  <!-- Pagination -->
  <div class="questionPagination">
    <div class="active">1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>
    <div>9</div>
    <div>10</div>
    <div>11</div>
    <div>12</div>
    <div>13</div>
    <div>14</div>
    <div>15</div>
    <div>16</div>
    <div>17</div>
    <div>18</div>
    <div>19</div>
    <div>20</div>
  </div>
</div>

<!-- Review & Submit -->
<div class="homeContent pageReview" style="display: none">
  <div class="centerAlign">
    <h1>Review and Submit</h1>
    <div class="desc">
      <strong
        >Once you click the submit buttoln you will not be able to change your
        answers. So please review and then click submit.</strong
      >
    </div>
    <div class="desc redText">
      <strong
        >You have answered&nbsp;<span>20</span>&nbsp;out of
        &nbsp;<span>20</span>&nbsp; questions in this quiz.</strong
      >
    </div>
    <div class="questionPagination">
      <div class="done">1</div>
      <div>2</div>
      <div class="done">3</div>
      <div class="done">4</div>
      <div class="done">5</div>
      <div class="done">6</div>
      <div>7</div>
      <div>8</div>
      <div class="done">9</div>
      <div class="done">10</div>
      <div>11</div>
      <div class="done">12</div>
      <div class="done">13</div>
      <div class="done">14</div>
      <div>15</div>
      <div class="done">16</div>
      <div class="done">17</div>
      <div class="done">18</div>
      <div class="done">19</div>
      <div class="done">20</div>
    </div>
    <div class="desc redText">
      <strong>Warning: Submitting is final and cannot be undone.</strong>
    </div>
    <button class="btnQuizPri">Submit</button>
  </div>
</div>

<!-- Quiz Result -->
<div class="homeContent pageReview" style="display: none">
  <div class="centerAlign">
    <h1>Quizzabled Result</h1>
    <div class="desc">
      <strong
        >Congragulations you have completed the quiz. Here are your
        results:</strong
      >
    </div>
    <div class="desc"><strong class="bigSize">16</strong>/<span>20</span></div>
    <div class="desc">
      Completed on <strong>7/9/21</strong> at <strong>12:30pm</strong> in
      <strong>2 mins 12 secs</strong>
    </div>
    <div class="resultBtnWrap">
      <button class="btnQuizPri">Print Certificate</button>
      <button class="btnQuizPri">Give Feedback</button>
    </div>
  </div>

  <div class="certificateWrap">
    <div class="certificateHeader">
      <img src="../../assets/images/sia.png" alt="" />
      <div>
        <img src="../../assets/images/lti.png" alt="" />
        <img src="../../assets/images/onestep.png" alt="" />
      </div>
    </div>
    <div class="centerAlign">
      <h1>Certificate of Participation</h1>
      <div class="desc">
        This is to certify that MOCK PARTICIPANT representing Example School has
        participapted in and completed Quizzabled: Mock Test on 07/09/2021.
      </div>
      <div>Mr. B.V. Rajasehekara Reddy<br />Secretary, Seva in Action</div>
    </div>
  </div>
</div>

<!-- Instructions -->
<div class="homeContent instructionPage">
  <div class="questionBox mediumBox">
    <h1 class="centerAlign">Instructions</h1>
    <ul class="instructionList">
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, laudantium!</li>
      <li>Quo accusantium dicta itaque repellat deserunt velit laboriosam quos quae.</li>
      <li>Repellendus, a veniam facere deserunt dolorem commodi corporis quisquam necessitatibus.</li>
      <li>Iusto fuga quam minus, eligendi odio vitae inventore dicta repellendus.</li>
      <li>Harum eaque aspernatur eum voluptatem facilis cumque, aperiam voluptatibus debitis.</li>
      <li>Assumenda excepturi expedita doloribus numquam repudiandae iure minus autem beatae!</li>
    </ul>
    <button class="btnQuizPri">Start</button>
  </div>
</div>




<!-- <div class="otherLanguage">
  <div class="quizQus">
    <div class="textbox">
      <span>Question <span>1</span>: &nbsp;</span>Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Debitis, harum.
    </div>
  </div>
  <div class="quizAnsWrap">
    <div class="quizAns">
      <div class="textbox">Answer 1</div>
    </div>
    <div class="quizAns">
      <div class="textbox">Answer 2</div>
    </div>
    <div class="quizAns">
      <div class="textbox">Answer 3</div>
    </div>
    <div class="quizAns">
      <div class="textbox">Answer 4</div>
    </div>
  </div>
</div> -->
