<div class="contentWrap">
  <h1>Fill Question and Answers</h1>
  <div class="questionBox">
    <div>
      <input class="textbox" type="text" placeholder="Question" name="" id="">
    </div>
    <div class="ansOptions">
      <div class="ansOption-item">
        <input class="textbox" type="text" placeholder="Option 1" name="" id="">
        <input class="imgUpload" type="file" name="" id="">
      </div>
      <div class="ansOption-item">
        <input class="textbox" type="text" placeholder="Option 1" name="" id="">
        <input class="imgUpload" type="file" name="" id="">
      </div>
      <div class="ansOption-item">
        <input class="textbox" type="text" placeholder="Option 1" name="" id="">
        <input class="imgUpload" type="file" name="" id="">
      </div>
      <div class="ansOption-item">
        <input class="textbox" type="text" placeholder="Option 1" name="" id="">
        <input class="imgUpload" type="file" name="" id="">
      </div>
    </div>
  </div>
</div>