<div class="homeContent">
  <div class="centerAlign">
    <h1>Add Demo Quiz</h1>
    <div class="filterHeader">
      <div class="selectCategory">
        <div class="selectLabel">Select Category:</div>
        <ngx-select-dropdown></ngx-select-dropdown>      
      </div>
      <div class="selectCategory">
        <div class="selectLabel">Choose Your Language:</div>
        <ngx-select-dropdown></ngx-select-dropdown>      
      </div>
    </div>
    <div class="questionBox">
      <span class="questionSerial">1</span>
      <div class="posRelative">
        <input class="textbox" type="text" placeholder="Question" name="" id="">
        <input class="imgUpload" type="file" name="" id="">
      </div>
      <div class="ansOptions">
        <div class="ansOption-item">
          <input class="textbox" type="text" placeholder="Option 1" name="" id="">
          <input class="imgUpload" type="file" name="" id="">
        </div>
        <div class="ansOption-item">
          <input class="textbox" type="text" placeholder="Option 1" name="" id="">
          <input class="imgUpload" type="file" name="" id="">
        </div>
        <div class="ansOption-item">
          <input class="textbox" type="text" placeholder="Option 1" name="" id="">
          <input class="imgUpload" type="file" name="" id="">
        </div>
        <div class="ansOption-item">
          <input class="textbox" type="text" placeholder="Option 1" name="" id="">
          <input class="imgUpload" type="file" name="" id="">
        </div>
      </div>
      <div class="correctAns">
        <label>Answer:</label>
        <div class="ansOption-item">
          <input class="textbox" type="text" placeholder="Enter Answer" name="" id="">
        </div>
      </div>
    </div>

    <div class="questionBox">
      <span class="questionSerial">2</span>
      <div class="posRelative">
        <input class="textbox" type="text" placeholder="Question" name="" id="">
        <input class="imgUpload" type="file" name="" id="">
      </div>
      <div class="ansOptions">
        <div class="ansOption-item">
          <input class="textbox" type="text" placeholder="Option 1" name="" id="">
          <input class="imgUpload" type="file" name="" id="">
        </div>
        <div class="ansOption-item">
          <input class="textbox" type="text" placeholder="Option 1" name="" id="">
          <input class="imgUpload" type="file" name="" id="">
        </div>
        <div class="ansOption-item">
          <input class="textbox" type="text" placeholder="Option 1" name="" id="">
          <input class="imgUpload" type="file" name="" id="">
        </div>
        <div class="ansOption-item">
          <input class="textbox" type="text" placeholder="Option 1" name="" id="">
          <input class="imgUpload" type="file" name="" id="">
        </div>
      </div>
      <div class="correctAns">
        <label>Answer:</label>
        <div class="ansOption-item">
          <input class="textbox" type="text" placeholder="Enter Answer" name="" id="">
        </div>
      </div>
    </div>


  </div>
</div>