<div class="homeContent">
  <div class="centerAlign" [formGroup]="questionsForm">
    <h1>{{ headerTitle }}</h1>
    <div class="filterHeader">
      <div class="selectCategory">
        <div class="selectTitle">
          Select Category: &nbsp;
          <angular2-multiselect
            [data]="categoryList"
            [(ngModel)]="selectedCategories"
            [settings]="settingsCategories"
            formControlName="category"
          >
          </angular2-multiselect>
          <div
            *ngIf="
              questionsForm.controls['category'].invalid &&
              questionsForm.controls['category'].touched
            "
            class="error invalid"
          >
            Category is required.
          </div>
        </div>
      </div>
    </div>
    <ng-container formArrayName="questionsArray">
      <ng-container
        *ngFor="
          let questionsArray of parentQuestionsArray().controls;
          let pqIndex = index
        "
      >
        <div class="questionBox">
          <span class="questionSerial">{{ pqIndex + 1 }}</span>
          <ng-container [formArrayName]="pqIndex">
            <ng-container
              *ngFor="
                let questionGroup of childQuestionsArray(pqIndex).controls;
                let qIndex = index
              "
            >
              <ng-container [formGroupName]="qIndex">
                <div class="qusSet">
                  <h3 class="languageTitle">
                    Language: {{ languageList[qIndex].itemName }}
                  </h3>
                  <input
                    type="hidden"
                    name="questionId"
                    formControlName="questionId"
                  />
                  <input
                    type="hidden"
                    name="languageCode"
                    formControlName="languageCode"
                  />
                  <input
                    type="hidden"
                    name="category"
                    formControlName="category"
                  />
                  <input
                    type="hidden"
                    name="optionId"
                    formControlName="optionId"
                  />
                  <input
                    type="hidden"
                    name="isActive"
                    formControlName="isActive"
                  />
                  <input
                    type="hidden"
                    name="primaryQuestionId"
                    formControlName="primaryQuestionId"
                  />
                  <input
                    type="hidden"
                    name="quizType"
                    formControlName="quizType"
                  />
                  <div class="posRelative">
                    <input
                      class="textbox"
                      type="text"
                      placeholder="Question"
                      name=""
                      id=""
                      formControlName="question"
                    />
                    <div
                      *ngIf="
                        getQuestions(pqIndex, qIndex).controls['question']
                          .invalid &&
                        getQuestions(pqIndex, qIndex).controls['question']
                          .touched
                      "
                      class="error invalid"
                    >
                      Question is required.
                    </div>
                    <input
                      type="hidden"
                      class="qnHiddenImage"
                      formControlName="questionImage"
                    />
                    <input
                      class="imgUpload questionImage"
                      type="file"
                      name=""
                      id=""
                      *ngIf="qIndex == 0"
                      (change)="uploadImage($event, 'qn')"
                    />
                    <div
                      class="imgUpload questionImage"
                      name=""
                      id=""
                      *ngIf="qIndex != 0"
                    ></div>
                  </div>
                  <ng-container formArrayName="options">
                    <div class="ansOptions">
                      <ng-container
                        *ngFor="
                          let optionGroup of optionsArray(pqIndex, qIndex)
                            .controls;
                          let oIndex = index
                        "
                      >
                        <ng-container [formGroupName]="oIndex">
                          <div class="ansOption-item">
                            <input
                              type="hidden"
                              name="optionId"
                              formControlName="optionId"
                            />
                            <input
                              type="hidden"
                              name="questionId"
                              formControlName="questionId"
                            />
                            <input
                              type="hidden"
                              name="isActive"
                              formControlName="isActive"
                            />
                            <input
                              type="hidden"
                              name=""
                              formControlName="isAnswer"
                            />
                            <input
                              type="radio"
                              id="option_{{ pqIndex }}_{{ qIndex }}_{{
                                oIndex
                              }}"
                              name="option_{{ pqIndex }}_{{ qIndex }}"
                              [value]="oIndex"
                              (change)="updateAnswer($event, pqIndex, qIndex)"
                            />
                            <!-- <div class="ansOption-item"> -->
                            <label
                              for="option_{{ pqIndex }}_{{ qIndex }}_{{
                                oIndex
                              }}"
                            ></label>
                            <input
                              class="textbox"
                              type="text"
                              placeholder="Option {{ oIndex + 1 }}"
                              name=""
                              id=""
                              formControlName="options"
                            />
                            <div
                              *ngIf="
                                getOption(pqIndex, qIndex, oIndex).controls[
                                  'options'
                                ].invalid &&
                                getOption(pqIndex, qIndex, oIndex).controls[
                                  'options'
                                ].touched
                              "
                              class="error invalid"
                            >
                              Option is required.
                            </div>
                            <input
                              type="hidden"
                              class="optionHiddenImage"
                              formControlName="optionImage"
                            />
                            <input
                              class="imgUpload optionImage"
                              type="file"
                              name=""
                              id=""
                              *ngIf="qIndex == 0"
                              (change)="uploadImage($event, 'op', oIndex)"
                            />
                            <div
                              class="imgUpload optionImage"
                              name=""
                              id=""
                              *ngIf="qIndex != 0"
                            ></div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                  </ng-container>
                  <div class="correctAns">
                    <label>Answer:</label>
                    <div class="ansOption-item">
                      <input
                        class="displayAnswer"
                        type="text"
                        readonly
                        name="answer"
                        formControlName="answer"
                      />
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div id="actionFooter">
    <!-- <button class="btnQuizPri" (click)="generateQuestions()">
      Add Next Question
    </button> -->
    <button class="btnQuizPri" (click)="submitForm()" *ngIf="!isEditQuestion">
      Save & Create New
    </button>
    <button class="btnQuizPri" (click)="updateForm()" *ngIf="isEditQuestion">
      Update
    </button>
    <button class="btnQuizSec" (click)="resetForm()">Cancel</button>
  </div>
</div>
