<div class="homeContent">
  <div class="centerAlign" [formGroup]="questionsForm">
    <h1>{{ headerTitle }}</h1>
    <div class="filterHeader">
      <div class="selectCategory">
        <div class="selectLabel">
          Select Category:
          <angular2-multiselect
            [data]="categoryList"
            [(ngModel)]="selectedCategories"
            [settings]="settingsCategories"
            formControlName="category"
          >
          </angular2-multiselect>
          <div
            *ngIf="
              questionsForm.controls['category'].invalid &&
              questionsForm.controls['category'].touched
            "
            class="error invalid"
          >
            Category is required.
          </div>
        </div>
      </div>
    </div>
    <ng-container formArrayName="questionsArray">
      <ng-container
        *ngFor="
          let questionsArray of parentQuestionsArray().controls;
          let pqIndex = index
        "
      >
        <div class="questionBox">
          <span class="questionSerial">{{ pqIndex + 1 }}</span>
          <ng-container [formArrayName]="pqIndex">
            <ng-container
              *ngFor="
                let questionGroup of childQuestionsArray(pqIndex).controls;
                let qIndex = index
              "
            >
              <ng-container [formGroupName]="qIndex">
                <p class="languageName">
                  Language: {{ languageList[qIndex].itemName }}
                </p>
                <input
                  type="hidden"
                  name="questionId"
                  formControlName="questionId"
                />
                <input
                  type="hidden"
                  name="languageCode"
                  formControlName="languageCode"
                />
                <input
                  type="hidden"
                  name="category"
                  formControlName="category"
                />
                <input
                  type="hidden"
                  name="optionId"
                  formControlName="optionId"
                />
                <input
                  type="hidden"
                  name="isActive"
                  formControlName="isActive"
                />
                <input
                  type="hidden"
                  name="primaryQuestionId"
                  formControlName="primaryQuestionId"
                />
                <input
                  type="hidden"
                  name="quizType"
                  formControlName="quizType"
                />
                <div class="posRelative">
                  <input
                    class="textbox"
                    type="text"
                    placeholder="Question"
                    name=""
                    id=""
                    formControlName="question"
                  />
                  <div
                    *ngIf="
                      getQuestions(pqIndex, qIndex).controls['question']
                        .invalid &&
                      getQuestions(pqIndex, qIndex).controls['question'].touched
                    "
                    class="error invalid"
                  >
                    Question is required.
                  </div>
                  <input
                    class="imgUpload"
                    type="file"
                    name=""
                    id=""
                    formControlName="questionImage"
                  />
                </div>
                <ng-container formArrayName="options">
                  <div class="ansOptions">
                    <ng-container
                      *ngFor="
                        let optionGroup of optionsArray(pqIndex, qIndex)
                          .controls;
                        let oIndex = index
                      "
                    >
                      <ng-container [formGroupName]="oIndex">
                        <input
                          type="hidden"
                          name="optionId"
                          formControlName="optionId"
                        />
                        <input
                          type="hidden"
                          name="questionId"
                          formControlName="questionId"
                        />
                        <input
                          type="hidden"
                          name="isActive"
                          formControlName="isActive"
                        />
                        <input
                          type="hidden"
                          name=""
                          formControlName="isAnswer"
                        />
                        <div class="ansOption-item">
                          <input
                            class="textbox"
                            type="text"
                            placeholder="Option {{ oIndex + 1 }}"
                            name=""
                            id=""
                            formControlName="options"
                          />
                          <div
                            *ngIf="
                              getOption(pqIndex, qIndex, oIndex).controls[
                                'options'
                              ].invalid &&
                              getOption(pqIndex, qIndex, oIndex).controls[
                                'options'
                              ].touched
                            "
                            class="error invalid"
                          >
                            Option is required.
                          </div>
                          <input
                            class="imgUpload"
                            type="file"
                            name=""
                            id=""
                            formControlName="optionImage"
                          />
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </ng-container>
                <div class="correctAns">
                  <label>Answer:</label>
                  <div class="ansOption-item">
                    <input
                      class="textbox"
                      type="text"
                      placeholder="Enter Answer"
                      name=""
                      id=""
                      formControlName="answer"
                    />
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div id="actionFooter">
    <button class="btnQuizPri" (click)="generateQuestions()">
      Add Next Question
    </button>
    <button class="btnQuizPri" (click)="submitForm()">Save</button>
    <button class="btnQuizSec" (click)="resetForm()">Cancel</button>
  </div>
</div>
