<div class="homeContent">
  <div class="centerAlign">
    <img src="../../assets/images/quizabled.png" alt="" />
    <div class="desc">
      Explore Quizabled's history, gallery, view sample question banks and other
      resources.
    </div>
  </div>
  <div class="resourcesList" *ngIf="resourceList.length > 0">
    <section
      *ngFor="let resource of resourceList"
      (click)="downloadResource(resource)"
    >
      <h4>{{ resource.title }}</h4>
      <img src="../../assets/images/download.png" alt="" />
    </section>
  </div>
  <h3 class="noRecords" *ngIf="resourceList.length == 0">
    Resources not found!!!
  </h3>
</div>
