<div class="homeContent">
  <div class="gallery">
    <img src="./../../assets/images/quizabled.png" alt="" />
    <!-- <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim voluptate
      ullam inventore amet laudantium cupiditate.
    </p> -->
  </div>
  <ul class="galleryList">
    <li>
      <img
        src="./../../assets/images/gallery-thumb2.jpg"
        alt=""
        (click)="open('18_19')"
      />
      <div>2018</div>
    </li>
    <li>
      <img
        src="./../../assets/images/gallery-thumb4.jpg"
        alt=""
        (click)="open('19_20')"
      />
      <div>2019</div>
    </li>
    <li>
      <img
        src="./../../assets/images/gallery-thumb1.jpg"
        alt=""
        (click)="open('20_21')"
      />
      <div>2020</div>
    </li>
    <li>
      <img src="./../../assets/images/gallery-thumb3.jpg" alt="" />
      <div>2021</div>
    </li>
    <li class="youtube-content">
      <div class="container">
        <iframe
          class="responsive-iframe"
          src="https://www.youtube.com/embed/_NXMSn6qR2U"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </li>
    <li class="youtube-content">
      <div class="container">
        <iframe
          class="responsive-iframe"
          src="https://www.youtube.com/embed/9qqem6_6j-4"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </li>
  </ul>
</div>
