<div class="homeContent">
  <div class="gallery">
      <img src="./../../assets/images/quizabled.png" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim voluptate ullam inventore amet laudantium cupiditate.</p>
  </div>
  <ul class="galleryList">
      <li>
          <img src="./../../assets/images/gallery-thumb2.jpg" alt="" (click)="open(0)">
          <div>2018</div>
      </li>
      <li>
          <img src="./../../assets/images/gallery-thumb4.jpg" alt="" (click)="open(1)">
          <div>2019</div>
      </li>
      <li>
          <img src="./../../assets/images/gallery-thumb1.jpg" alt="" (click)="open(2)">
          <div>2020</div>
      </li>
      <li>
          <img src="./../../assets/images/gallery-thumb3.jpg" alt="" (click)="open(3)">
          <div>2021</div>
      </li>
  </ul>
</div>