<div class="homeContent">
  <div class="gallery">
      <img src="./../../assets/images/quizabled.png" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim voluptate ullam inventore amet laudantium cupiditate.</p>
  </div>
  <ul class="galleryList">
      <li>
          <img src="./../../assets/images/gallery-thumb2.jpg" alt="" (click)="open('18_19')">
          <div>2018</div>
      </li>
      <li>
          <img src="./../../assets/images/gallery-thumb4.jpg" alt="" (click)="open('19_20')">
          <div>2019</div>
      </li>
      <li>
          <img src="./../../assets/images/gallery-thumb1.jpg" alt="" (click)="open('20_21')">
          <div>2020</div>
      </li>
      <li>
          <img src="./../../assets/images/gallery-thumb3.jpg" alt="">
          <div>2021</div>
      </li>
  </ul>
</div>