<div class="homeContent pageReview">
  <div class="centerAlign">
    <h1>Review and Submit</h1>
    <div class="desc">
      <strong
        >Once you click the submit buttoln you will not be able to change your
        answers. So please review and then click submit.</strong
      >
    </div>
    <div class="desc redText">
      <strong
        >You have answered&nbsp;<span>20</span>&nbsp;out of
        &nbsp;<span>20</span>&nbsp; questions in this quiz.</strong
      >
    </div>
    <div class="questionPagination">
      <div class="done">1</div>
      <div>2</div>
      <div class="done">3</div>
      <div class="done">4</div>
      <div class="done">5</div>
      <div class="done">6</div>
      <div>7</div>
      <div>8</div>
      <div class="done">9</div>
      <div class="done">10</div>
      <div>11</div>
      <div class="done">12</div>
      <div class="done">13</div>
      <div class="done">14</div>
      <div>15</div>
      <div class="done">16</div>
      <div class="done">17</div>
      <div class="done">18</div>
      <div class="done">19</div>
      <div class="done">20</div>
    </div>
    <div class="desc redText">
      <strong>Warning: Submitting is final and cannot be undone.</strong>
    </div>
    <button class="btnQuizPri">Submit</button>
  </div>
</div>
