<div class="homeContent">
  <div class="centerAlign">
    <img src="./../../assets/images/quizabled.png" alt="" />
    <h1>
      Welcome <span>{{ user?.user_name }}!</span>
    </h1>
  </div>
  <div class="qmLandingButtonWrap">
    <!-- <button class="qmLandingButton" (click)="gotoQuestions('demo')">
        Update Demo Quiz
      </button>
      <button class="qmLandingButton" (click)="gotoQuestions('main')">
        Update Main Quiz
      </button> -->
    <h1>You are an admin user :)</h1>
  </div>
</div>
