<div class="homeContent">
  <div class="questionBox mediumBox">
    <div class="centerAlign">
      <img src="../../assets/images/quizabled.png" alt="" />
      <p class="desc"><strong>Please Select Your Language</strong></p>
      <div>
        <angular2-multiselect
          [data]="languageList"
          [settings]="languageConfig"
          [(ngModel)]="selectedLanguages"
          (onSelect)="onItemSelect($event)"
        >
        </angular2-multiselect>
      </div>
    </div>
    <div class="centerAlign" *ngIf="!user.q_category">
      <p class="desc"><strong>Please Select Your Category</strong></p>
    </div>
    <div class="quizAnsWrap boxList" *ngIf="!user.q_category">
      <div class="quizAns" (click)="updateCategory('A')">
        <input type="radio" name="chooseCategory" id="categoryA" />
        <label for="categoryA">
          <div class="textbox">
            <h3>Category A</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto,
              doloremque.
            </p>
          </div>
        </label>
      </div>
      <div class="quizAns" (click)="updateCategory('B')">
        <input type="radio" name="chooseCategory" id="categoryB" />
        <label for="categoryB">
          <div class="textbox">
            <h3>Category B</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto,
              doloremque.
            </p>
          </div>
        </label>
      </div>
      <div class="quizAns" (click)="updateCategory('C')">
        <input type="radio" name="chooseCategory" id="categoryC" />
        <label for="categoryC">
          <div class="textbox">
            <h3>Category C</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto,
              doloremque.
            </p>
          </div>
        </label>
      </div>
      <div class="quizAns" (click)="updateCategory('D')">
        <input type="radio" name="chooseCategory" id="categoryD" />
        <label for="categoryD">
          <div class="textbox">
            <h3>Category D</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto,
              doloremque.
            </p>
          </div>
        </label>
      </div>
    </div>
    <button class="btnQuizPri" (click)="goToQuiz()">Start</button>
  </div>
</div>
