<div class="homeContent instructionPage">
  <h1 class="centerAlign">Quizzabled: Mock Test</h1>
  <div class="questionBox mediumBox">
    <h1 class="centerAlign">Instructions</h1>
    <ul class="instructionList">
      <li>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis,
        laudantium!
      </li>
      <li>
        Quo accusantium dicta itaque repellat deserunt velit laboriosam quos
        quae.
      </li>
      <li>
        Repellendus, a veniam facere deserunt dolorem commodi corporis quisquam
        necessitatibus.
      </li>
      <li>
        Iusto fuga quam minus, eligendi odio vitae inventore dicta repellendus.
      </li>
      <li>
        Harum eaque aspernatur eum voluptatem facilis cumque, aperiam
        voluptatibus debitis.
      </li>
      <li>
        Assumenda excepturi expedita doloribus numquam repudiandae iure minus
        autem beatae!
      </li>
    </ul>
    <button class="btnQuizPri">Start</button>
  </div>
</div>
