/* instruction */
.instructionPage {
  .btnQuizPri {
    display: flex;
    margin-left: auto;
  }
  h2 {
    color: initial;
    margin-bottom: 30px;
    text-align: center;
  }
}
.instructionList {
  list-style: none;
  padding: 0;

  li {
    padding-left: 20px;
    position: relative;
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 0.75em;
    &:before {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: currentColor;
      position: absolute;
      top: 1.1rem;
      left: 0;
    }
  }
}
