.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input {
  width: 100%;
  font-size: 2rem;
  margin: 20px auto;
}
.custom-file-input::before {
  content: "Upload";
  display: inline-block;
  background: #4383ff;
  border-radius: 5px;
  padding: 15px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  color: #fff;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.actionFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
