<div class="main" [class]="fontClass">
  <header class="mainHeader" *ngIf="!isLoggedIn && !isDemoUser">
    <div class="hamburger" (click)="toggleMenu()"><i></i><i></i><i></i></div>
    <a href="https://sevainaction.org/" target="_blank" class="logo">
      <small>Organised By</small>
    </a>
    <!-- Toggle Class "Show" for <nav> to open menu on Clicking Hamburger. And "noScroll class for <body>" -->
    <nav [ngClass]="{ show: isMenuOpen }">
      <a routerLink="home" routerLinkActive="active">Home</a>
      <a routerLink="resources" routerLinkActive="active">Resources</a>
      <a routerLink="gallery" routerLinkActive="active">Gallery</a>
      <a routerLink="login" routerLinkActive="active" class="btnView">Login</a>
      <a
        href="https://forms.gle/Pf7LZeXXQkjncP288"
        target="_blank"
        class="btnView"
        >Register</a
      >
      <a (click)="goToDemo()" class="btnView sec">Demo</a>
      <div class="fontSizeChange">
        <h4>Font size</h4>
        <button class="sizeSmall" (click)="changeFont($event, 'small')">
          A-
        </button>
        <button
          class="sizeMedium active"
          (click)="changeFont($event, 'default')"
        >
          A
        </button>
        <button class="sizeLarge" (click)="changeFont($event, 'large')">
          A+
        </button>
      </div>
    </nav>
    <div class="sponsor">
      <small>Powered By</small>
      <a
        href="https://www.lntinfotech.com/social-responsibility/"
        target="_blank"
        class="logoLti"
      ></a>
      <div class="logoStep"></div>
    </div>
  </header>
  <header class="mainHeader" *ngIf="isLoggedIn || isDemoUser">
    <div class="hamburger" (click)="toggleMenu()"><i></i><i></i><i></i></div>
    <a href="https://sevainaction.org/" target="_blank" class="logo">
      <small>Organised By</small>
    </a>
    <nav [ngClass]="{ show: isMenuOpen }">
      <h5>
        Welcome, <span>{{ isDemoUser ? "demo user" : user.name }}</span>
      </h5>

      <div class="spacer"></div>
      <a class="btnView" target="_blank" (click)="logout()">Logout</a>
      <div class="fontSizeChange">
        <h4>Adjust Fontsize</h4>
        <button class="sizeSmall" (click)="changeFont($event, 'small')">
          A-
        </button>
        <button
          class="sizeMedium active"
          (click)="changeFont($event, 'default')"
        >
          A
        </button>
        <button class="sizeLarge" (click)="changeFont($event, 'large')">
          A+
        </button>
      </div>
    </nav>
    <div class="sponsor">
      <small>Powered By</small>
      <a
        href="https://www.lntinfotech.com/social-responsibility/"
        target="_blank"
        class="logoLti"
      ></a>
      <div class="logoStep"></div>
    </div>
  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
  <footer class="mainFooter">&copy; Quizabled</footer>
</div>
