<section class="homeBanner">
    <img src="../../assets/images/quiz-logo.png" alt="Quizabled">
    <p>Quiz for children and youth with disablities<br>6th Edition 2020-2021</p>
    <button style="display: none;" class="btnQuizPri">View Results</button>
</section>
<section class="homeContent">
    <section class="about">
        <h2 class="centerAlign">About</h2>
        <p>Quizabled is a distinctive quiz program for children with different abilities (Intellectual disabilities, Autism Cerebral Palsied, Hearing Impaired and Blind) organized by Seva-in- Action (SiA) and powered by Larsen and Toubro Infotech Ltd (LTI).</p>
        <strong>Genesis</strong>
        <p>Quizabled is conceptualized by Seva-in-Action and was curated by 4 Edge Quizzing Solutions, this idea and the concept became a reality with LTI powering it from its inception in 2016. It is first of its kind in India, where differently-abled participants (cross-disability). The purpose of this program is to provide a platform for knowledge development and creating interest for information gathering. Eliminating myths about children with intellectual and developmental disabilities regarding participating in quizzing.</p>
        <p>Quizabled completes five years and is organized to celebrated International Day of People with disabilities, to provide with an opportunity to showcase the abilities and potentials of children and youths who are differently abled. Over the first five years, Quizabled evolved from a one-day event in Bengaluru to a two-day event across Karnataka and also started in Chennai and Mumbai.</p>
        <p>Quizabled goes online in 2020 to keep up the interest and enthusiasm it has created over the last few years and keeping in mind the children in this pandemic. It will reach out to different districts of Karnataka including Bengaluru , in Chennai it will partner with Spastic Society of Tamil Nadu (SPASTN) and in Mumbai with Sujaya Foundation.</p>
    </section>
  <div class="rulesEligibility">
      <div>
          <h2>Rules & Eligiblity</h2>
          <p class="paraLead">Quizabled will be organised into two parts: Online Quiz and Virtual Quiz. Contestants will be eligible for one or the other based on the disability category that they belong to.</p>
      </div>
      <aside>
          <a href="../../assets/images/flyer.JPG" target="_blank" class="btnQuizPri">Download Flyer</a>
      </aside>
  </div>
  <div class="homeQuizRow">
      <section>
          <img src="./../../assets/images/home-quiz1.png" alt="">
          <div class="homeQuizCol">
              <div class="centerAlign bdrBtm pBtm">
                  <h3>Online Quiz</h3>
                  <table>
                      <tr>
                          <td><strong>Category A</strong></td>
                          <td>Intellectual Disability (ID)/ Mentally Retarded (MR)</td>
                      </tr>
                      <tr>
                          <td><strong>Category B</strong></td>
                          <td>Cerebral Palsy (CP) and Autism Spectrum Disorder (ASD)</td>
                      </tr>
                  </table>
                  <button style="display: none;" class="btnQuizPri">View Results</button>
              </div>
              <div class="quizColContent">
                  <h3>10th December 2021</h3>
                  <h4>Take the quiz online!</h4>
                  <p>The quiz portal will be open from 10am to 10pm on quiz day. The participants can take it at anytime by visiting the quiz portal and logging in using the login ID and password which will be provided after registration.</p>
                  <p>The quiz will be consist of 20 multiple choice questions with a time limit of 40 minutes or until 10pm (whichever is earlier). The text will be available in English and regional languages (such as Hindi, Kannada and Tamil).</p>
                  <h4>Get Started:</h4>
                  <ol>
                      <li>Fill in the registration form by clicking the button above.</li>
                      <li>Your registration will then be screened and the disability proof will be verified. This may take a while so you can take the Mock Quiz and explore the Quizabled Archives while you wait.</li>
                      <li>Once your registration is reviewed and approved, you will receive an email with your Login ID and Password. The email will also contain a link to the quiz portal.</li>
                      <li>On quiz day, 23rd January 2020, login to the Quiz Portal between 10am and 10pm with your credentials and take the quiz! Make sure you have a stable internet connection and a modern internet browser such as <a href="#">Google Chrome</a> or <a href="#">Mozilla FIrefox</a> to have the best experience.</li>
                  </ol>
              </div>
          </div>
      </section>
      <section>
          <img src="./../../assets/images/home-quiz2.png" alt="">
          <div class="homeQuizCol">
              <div class="centerAlign bdrBtm pBtm">
                  <h3>Virtual Quiz</h3>
                  <table>
                      <tr>
                          <td><strong>Category C</strong></td>
                          <td>Visual Impairment (VI)</td>
                      </tr>
                      <tr>
                          <td><strong>Category D</strong></td>
                          <td>Hearing Impairment (HI)</td>
                      </tr>
                  </table>
                  <button style="display: none;" class="btnQuizPri">View Results</button>
              </div>                        
              <div class="quizColContent">
                  <h3>17th December 2021</h3>
                  <h4>Preliminary Round<br>Mumbai, Maharastra: 17th December 2021<br>Karnataka & Tamilnadu: 7th January 2022</h4>
                  <p>The preliminary round will be conducted through <a href="#">Zoom</a>. The Quiz will consist of multiple rounds and will be led by the Quiz Masters and Volunteers.</p>
                  <h4>Final Round: 30th January 2021</h4>
                  <p>The final round will be conducted through Zoom. The Quiz will consist of multiple rounds and will be led by the Quiz Masters, Volunteers and coordinated by the event management team.</p>
                  <h4>Get Started:</h4>
                  <ol>
                      <li>Fill in the registration form by clicking the button above.</li>
                      <li>Your registration will then be screened and the disability proof will be verified. This may take a while so you can take the Mock Quiz and explore the Quizabled Archives while you wait.</li>
                      <li>Once your registration is reviewed and approved, you will receive an email with a confirmation and the link to access the Zoom meeting for the prelims.</li>
                      <li>On prelims day, 23rd January 2020, use the link provided in the email at the right time to join the Zoom prelims. Make sure you have a stable internet connection and have the latest version of Zoom installed to have the best experience.</li>
                  </ol>
              </div>                    
          </div>                    
      </section>
  </div>
  <div class="note">Note: Participants must provide a proof of disability (ex: Govt. provided disability certificate) at the time of registration as a soft copy (PDF, image).</div>

  <section class="partners">
      <h2 class="centerAlign">NGO Partners</h2>
      <div class="ngoLogos">
          <img src="./../../assets/images/partner1.png" alt="">
          <img src="./../../assets/images/partner2.png" alt="">
      </div>
  </section>
  <h2 class="centerAlign">Quizzing Partners</h2>
  <div class="quizPartner">
      <div>
          <img src="./../../assets/images/fouredge.jpg" alt="">
          <p>Bangalore based knowledge solutions startup founded by Akshath. A, Himadri Bannerjee and Sharath Babu.</p>
          <p>We specialize in conceptualizing, creating and hosting quizzes on any theme, for any target audience, in any format, through any medium. We provide knowledge solutions to a wide range of clients: schools, colleges,cultural associations. We create intelligent, interactive, intellectually stimulating quizzes. We are heads-over-heels quiz enthusiasts with hands-on experience—of quizzing and being quizzed!</p>
      </div>
      <div>
          <img src="./../../assets/images/catalyst.jpg" alt="">
          <p>An avid quizzer turned quizmaster, Surya has been quizzing since he was 10 years old and started hosting shows at the tender age of 16. A Visual communication graduate, he has hosted 300+ shows in more than 20 destinations across India and is one of the youngest professional quizmasters in India.</p>
          <p>The interest and passion towards quizzing led him to start ‘Catalyst Quiz Corp’, an edutainment company providing knowledge solutions and games for schools, colleges, corporates etc.</p>
      </div>
  </div>
</section>