<section class="homeBanner">
  <img src="../../assets/images/banner-img.png" alt="Quizabled" />
  <div class="bannerInfo">
    A Quiz for Children and Youth with Disabilities<br />Discover Ability in
    Disability<br /><small
      >7<sup>th</sup> Edition - 2022 - Quizzing on New Normal<br />Karnataka -
      Tamil Nadu - Maharashtra</small
    >
  </div>
  <!-- <div class="bannerFirstLine">Quiz for children and youth with disablities</div>
  <div class="bannerQuote">
    <div>QUIZZING ON NEW NORMAL</div>
    <div><i>DisCOVER Ability - in Disability</i></div>
  </div>
  <div class="bannerEdition">7<sup>TH</sup> Edition</div>
  <div class="bannerLocation">
    <span>Karnataka</span>
    <span>Maharashtra</span>
    <span>Tamilnadu</span>
  </div> -->

  <button style="display: none" class="btnQuizPri">View Results</button>
</section>
<section class="homeContent">
  <section class="about">
    <h2 class="centerAlign">About</h2>
    <p>
      Quizabled is a distinctive quizzing program for children and Youth who are
      Differently Abled which is organized by Seva-in-Action, Bengaluru (S.i.A)
      and powered by Larsen and Toubro InfoTech Ltd (LTI). The event is designed
      to include five different categories of disability namely, Intellectual
      Disability (ID), Cerebral Palsy (CP), Autism Spectrum Disorder (ASD),
      Visual Impairment (VI), and Hearing Impairment (HI).
    </p>
    <strong>Genesis</strong>
    <p>
      Quizabled was conceptualized by Seva-in-Action in the year 2016 and was
      curated by 4 Edge Quizzing Solutions. The concept became a reality with
      LTI powering it since its inception. It is first of its kind in India,
      where children and youth with disabilities are given an opportunity to
      showcase knowledge and intellectual capabilities. The main purpose of this
      program is to provide a platform for the differently abled for knowledge
      development, to raise awareness by dispelling myths about the potentials
      of children & youth with intellectual and developmental disabilities, and
      to promote and encourage participation of the differently abled in
      quizzing events and even take part in competitive exams in the future.
      With the event being curated and conducted by Professional Quiz Masters,
      the program offers a very positive and professional environment, thereby
      creating interest for information gathering amongst participants and
      ensuring that their quest for knowledge never ends.
    </p>
    <p>
      The initial Editions of ‘Quizabled’ were held physically at Bengaluru,
      Karnataka and in the year ‘2018’ it was expanded to other States in
      collaboration with ‘The Spastics Society of TamilNadu(SPASTN)’ –Chennai
      and in collaboration with ‘Sujaya Foundation’, Mumbai, Maharashtra. The
      physical event saw more than 2000 students and Youth with disabilities
      take part in it.
    </p>
    <p>
      In the course of this Pandemic Era, ‘Quizabled’ was launched on a virtual
      platform in the year, ‘2021 -22’ to keep up with the new normal. By
      launching the event online, it has opened up a series of positive
      collaborations with our existing/new stakeholders, Corporate & NGO
      partners and also ascertaining that the interest and enthusiasm of the
      participants never faded.
    </p>
    <p>
      While we were met with several barriers and challenges, the response has
      been overwhelming so far. Nearly, 500 children/youth with disabilities
      across Karnataka, Mumbai and TamilNadu took part in the First Virtual
      event (2020-21) with great enthusiasm. This has indeed prompted us to make
      further modifications to the online event and also reach out to other
      Organisations and Schools across new districts of Karnataka, TamilNadu in
      collaboration with our NGO Partner Organisations.
    </p>
    <p>
      This time, as ‘Quizabled’ steps into its 7th year, we now once again have
      the opportunity to explore the potentials of the digital platform and
      engage with many more children and Youth with disabilities. This year, a
      total number of 13 districts from Karnataka, 4 new districts from
      Maharashtra and 12 districts from TamilNadu have been engaged with. An
      expected number of 1150 participants are all set to take part in
      ‘Quizabled 2021-22’ on a virtual mode.
    </p>
    <p>
      We believe that events like ‘Quizabled’ are an integral part of the lives
      of every person for it changes and shapes the very basic attitudes that
      much needed to create an Inclusive Society. In line with our Mission
      statements, we are determined to take “Quizabled” to the next level. Way
      forward, we aim at making this platform an opportunity to disseminate and
      to showcase our approaches towards bringing about transformative changes
      in the society towards Inclusion, Advocacy and also Influence Policy
      Change.
    </p>
    <p>
      For more information , visit
      <a href="http://www.sevainaction.org">@www.sevainaction.org</a>
    </p>
  </section>
  <div class="rulesEligibility">
    <div>
      <h2>Rules & Eligiblity</h2>
      <p class="paraLead">
        Quizabled will be organised into two parts: Online Quiz and Virtual
        Quiz. Contestants will be eligible for one or the other based on the
        disability category that they belong to.
      </p>
    </div>
    <aside>
      <a
        href="./../../assets/images/INVITATION.pdf"
        download
        target="_blank"
        class="btnQuizPri"
        >Download Invitation</a
      >
    </aside>
  </div>
  <div class="homeQuizRow">
    <section>
      <img src="./../../assets/images/home-quiz1.png" alt="" />
      <div class="homeQuizCol">
        <div class="centerAlign bdrBtm pBtm">
          <h3>Online Quiz</h3>
          <table>
            <tr>
              <td><strong>Category A</strong></td>
              <td>Intellectual Disability (ID)/ Mentally Retarded (MR)</td>
            </tr>
            <tr>
              <td><strong>Category B</strong></td>
              <td>Cerebral Palsy (CP) and Autism Spectrum Disorder (ASD)</td>
            </tr>
          </table>
          <button style="display: none" class="btnQuizPri">View Results</button>
        </div>
        <div class="quizColContent">
          <h3>10<sup>th</sup> December 2021</h3>
          <h4>Take the quiz online!</h4>
          <p>
            The quiz portal will be open from 10am to 10pm on quiz day. The
            participants can take it at anytime by visiting the quiz portal and
            logging in using the login ID and password which will be provided
            after registration.
          </p>
          <p>
            The quiz will be consist of 20 multiple choice questions with a time
            limit of 40 minutes or until 10pm (whichever is earlier). The text
            will be available in English and regional languages (such as Hindi,
            Kannada and Tamil).
          </p>
          <h4>Get Started:</h4>
          <ol>
            <li>Fill in the registration form by clicking the button above.</li>
            <li>
              Your registration will then be screened and the disability proof
              will be verified. This may take a while so you can take the Mock
              Quiz and explore the Quizabled Archives while you wait.
            </li>
            <li>
              Once your registration is reviewed and approved, you will receive
              an email with your Login ID and Password. The email will also
              contain a link to the quiz portal.
            </li>
            <li>
              On quiz day, 10<sup>th</sup> December 2021, login to the Quiz
              Portal between 10am and 10pm with your credentials and take the
              quiz! Make sure you have a stable internet connection and a modern
              internet browser such as <a href="#">Google Chrome</a> or
              <a href="#">Mozilla FIrefox</a> to have the best experience.
            </li>
          </ol>
        </div>
      </div>
    </section>
    <section>
      <img src="./../../assets/images/home-quiz2.png" alt="" />
      <div class="homeQuizCol">
        <div class="centerAlign bdrBtm pBtm">
          <h3>Virtual Quiz</h3>
          <table>
            <tr>
              <td><strong>Category C</strong></td>
              <td>Visual Impairment (VI)</td>
            </tr>
            <tr>
              <td><strong>Category D</strong></td>
              <td>Hearing Impairment (HI)</td>
            </tr>
          </table>
          <button class="btnQuizPri" (click)="openFinalists()">
            View Result
          </button>
          <button
            class="btnQuizPri"
            style="display: none"
            (click)="openFinalists()"
          >
            View Finalists
          </button>
        </div>
        <div class="quizColContent">
          <h3>17<sup>th</sup> December 2021</h3>
          <h4>
            Preliminary Round<br />Mumbai, Maharastra: 17<sup>th</sup> December
            2021<br />Karnataka & Tamilnadu: 7<sup>th</sup> January 2022
          </h4>
          <p>
            The preliminary round will be conducted through
            <a href="#">Zoom</a>. The Quiz will consist of multiple rounds and
            will be led by the Quiz Masters and Volunteers.
          </p>
          <h4>Final Round: 25<sup>th</sup> January 2022</h4>
          <p>
            The final round will be conducted through Zoom. The Quiz will
            consist of multiple rounds and will be led by the Quiz Masters,
            Volunteers and coordinated by the event management team.
          </p>
          <h4>Get Started:</h4>
          <ol>
            <li>Fill in the registration form by clicking the button above.</li>
            <li>
              Your registration will then be screened and the disability proof
              will be verified. This may take a while so you can take the Mock
              Quiz and explore the Quizabled Archives while you wait.
            </li>
            <li>
              Once your registration is reviewed and approved, you will receive
              an email with a confirmation and the link to access the Zoom
              meeting for the prelims.
            </li>
            <li>
              On prelims day, 17<sup>th</sup> December 2021 & 7<sup>th</sup>
              January 2022, use the link provided in the email at the right time
              to join the Zoom prelims. Make sure you have a stable internet
              connection and have the latest version of Zoom installed to have
              the best experience.
            </li>
          </ol>
        </div>
      </div>
    </section>
  </div>
  <div class="note">
    Note: Participants must provide a proof of disability (ex: Govt. provided
    disability certificate) at the time of registration as a soft copy (PDF,
    image).
  </div>

  <section class="partners">
    <h2 class="centerAlign">NGO Partners</h2>
    <div class="ngoLogos">
      <a
        href="http://sujayafoundation.org/"
        target="_blank"
        class="partner1 partnerLogo"
      >
      </a>
      <a href="http://spastn.org/" target="_blank" class="partner2 partnerLogo">
      </a>
      <!-- <img src="./../../assets/images/partner1.png" alt="" />
      <img src="./../../assets/images/partner2.png" alt="" /> -->
    </div>
  </section>
  <h2 class="centerAlign">Quizzing Partners</h2>
  <div class="quizPartner">
    <div>
      <img src="./../../assets/images/fouredge.jpg" alt="" />
      <p>
        Bangalore based knowledge solutions startup founded by Akshath. A,
        Himadri Bannerjee and Sharath Babu.
      </p>
      <p>
        We specialize in conceptualizing, creating and hosting quizzes on any
        theme, for any target audience, in any format, through any medium. We
        provide knowledge solutions to a wide range of clients: schools,
        colleges,cultural associations. We create intelligent, interactive,
        intellectually stimulating quizzes. We are heads-over-heels quiz
        enthusiasts with hands-on experience—of quizzing and being quizzed!
      </p>
    </div>
    <div>
      <img src="./../../assets/images/catalyst.jpg" alt="" />
      <p>
        An avid quizzer turned quizmaster, Surya has been quizzing since he was
        10 years old and started hosting shows at the tender age of 16. A Visual
        communication graduate, he has hosted 300+ shows in more than 20
        destinations across India and is one of the youngest professional
        quizmasters in India.
      </p>
      <p>
        The interest and passion towards quizzing led him to start ‘Catalyst
        Quiz Corp’, an edutainment company providing knowledge solutions and
        games for schools, colleges, corporates etc.
      </p>
    </div>
  </div>
</section>

<div id="finalistWrapper" [ngClass]="{ show: showFinalists }">
  <div class="quizOverlay">
    <!-- <div class="quizModalContent">
      <h2
        class="centerAlign"
        style="position: relative; text-transform: uppercase"
      >
        Finalists
        <span class="material-icons closeBtn" (click)="hideFinalists()"
          >close</span
        >
      </h2>
      <details
        class="sgAccordion"
        *ngFor="let item of finalistData; let row = index"
        #accordion
      >
        <summary (click)="toggleAccordion(row)">
          <span>{{ item.stateName }}</span>
        </summary>
        <div class="sgAccordion-body">
          <div class="twoColumns">
            <div *ngFor="let studentData of item.studentDetails">
              <h3>{{ studentData.categoryName }}</h3>
              <table>
                <tr>
                  <th width="10%">S.No</th>
                  <th width="40%">Name</th>
                  <th width="50%">School</th>
                </tr>
                <tr
                  *ngFor="let student of studentData.studentList; let i = index"
                >
                  <td class="serialNo">{{ i + 1 }}</td>
                  <td>{{ student.name }}</td>
                  <td>{{ student.school }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </details>
    </div> -->
    <div class="quizModalContent">
      <h2
        class="centerAlign"
        style="position: relative; text-transform: uppercase"
      >
        RESULT
        <span class="material-icons closeBtn" (click)="hideFinalists()"
          >close</span
        >
      </h2>
      <details
        class="sgAccordion"
        *ngFor="let item of winnerData; let row = index"
        #accordion
      >
        <summary (click)="toggleAccordion(row)">
          <span>{{ item.stateName }}</span>
        </summary>
        <div class="sgAccordion-body">
          <div class="twoColumns">
            <div *ngFor="let studentData of item.studentDetails">
              <h3>{{ studentData.categoryName }}</h3>
              <table>
                <tr>
                  <th width="10%">S.No</th>
                  <th width="30%">Name</th>
                  <th width="30%">School</th>
                  <th width="30%">Status</th>
                </tr>
                <tr
                  *ngFor="let student of studentData.studentList; let i = index"
                >
                  <td class="serialNo">{{ i + 1 }}</td>
                  <td>{{ student.name }}</td>
                  <td>{{ student.school }}</td>
                  <td>{{ student.status }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </details>
    </div>
  </div>
</div>
