#closedWrapper {
  width: 100%;
  height: calc(100vh - 280px);
  color: #595757;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h3 {
    font-size: 5rem;
    text-align: center;
    margin: 15px 0;
  }
  h4 {
    font-size: 3rem;
    color: #000;
    text-align: center;
    margin: 15px 0;
  }
  .actionFooter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 10px 0;
  }
}
